<div *ngIf="activity">
  <h2>{{ activity.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ activity.id }}</div>
  <div><span>name: </span>{{ activity.name }}</div>
  <div><span>category: </span>{{ activity.category }}</div>
  <div><span>subcategory: </span>{{ activity.subcategory }}</div>
  <div><span>description: </span>{{ activity.description }}</div>
  <div><span>language: </span>{{ activity.language }}</div>
  <div><span>price: </span>{{ activity.price }}</div>
  <div><span>date: </span>{{ activity.date | date: "dd/MM/yyyy" }}</div>
  <div><span>people registered: </span>{{ activity.peopleRegistered }}</div>
  <button *ngIf="isTourist" (click)="addFavorites(activity)">
    Add Favorites
  </button>
  <button *ngIf="isTourist">Sign up!</button>
</div>
